---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi there 👋</div>
    <div class="text-5xl font-bold">I'm Scott Park</div>
    <div class="text-3xl py-3">A <b>Full Stack Developer</b> that is passionate about solving challenges and loves creating user-friendly experiences.</div>
    <div class="py-2">
      <text class="text-lg">
        Greetings! I am an aspiring Full Stack Developer based in Auckland. I recently completed an extensive course in software development at Dev Academy, where I gained the necessary skills to build full-stack applications. In addition, I bring a strong background in finance that would allow me to offer a comprehensive approach to problem-solving in the world of coding.
      </text>
    </div>
    <div class="mt-8">
      <!-- <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a> -->
      <a href="https://drive.google.com/file/d/1ezksjhH5MBUvfFvkSIqGitkjnQQTvQtn/view?usp=sharing" target="_blank" class="btn btn-outline ml-5">
        Click here to download my CV
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Projects</div>
  </div>

  <HorizontalCard
    title="Scotty the Footy"
    img="/scottythefooty.png"
    desc="A project created for every football fan around the world. It shows the details of Premier League teams, players, matches, league tables, and stats."
    badge="Coming Soon"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pocket Doro"
    img="/pocketdoro.png"
    desc="A project created for users to set time for personal work and add break sessions. We have included animated character and environment sprites to bring more fun and creativity."
    url="https://pocketdoro.pushed.nz/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Dogs"
    img="/dogs.png"
    desc="A side project created for any dog lovers to enter their dog names and breed. Users are able to edit their dog names and breed as well as delete them."
    url="http://myfullstack-scott-whai23.devacademy.nz/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Scott's Blog"
    img="/scottparkblog.png"
    desc="My first blog created during Foundations that includes the details about myself, and challenges and sprints we worked on."
    url="https://scott-park1.github.io/"
  />
  <div class="divider my-0" />
</>
</BaseLayout>
